.newsletter{
    width:500px;
    height:40vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:auto;
    padding:0px 140px;
    margin-bottom:250px;
    background:linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    gap:10px;
    margin-top:700px;
}
.newsletter h1{
    color:#454545;
    font-size:28px;
    font-weight:600;
    margin-top:100px;
}
.newsletter p{
    color:#454545;
    font-size:15px;
  


}
.newsletter div{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    width:730px;
    height:50px;
    border-radius:80px;
    border: 1px solid #e3e3e3;
    
}

.newsletter div button{
    width:210px;
    height:50px;
    border-radius:80px;
    background:black;
    color:white;
    font-size:16px;
    cursor:pointer;
}
.newsletter div input{
    width:300px;
    margin-left:60px;
    border-radius:80px;
    border:1px #454545;
    align-items:center;
    justify-content:center;
    text-align: center;
    
}